<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="active">
            <a href="/pool/MRT/">
                <img src="/Content/img/icons/home.svg">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/help/gettingstarted/">
                <img src="/Content/img/icons/network.svg">
                <span>Getting Started</span>
            </a>
        </li>
    </ul>
</section>
