@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CoiniumServ.Server.Web.Models.GettingStarted.GettingStartedModel>

@{ Layout = "layout/main.cshtml"; }

<div class="row">
    <div class="col-md-6">
        <div class="small-box bg-blue-gradient">
            <div class="inner">
                <h3>Get Hardware</h3>

                <p>In order to get started mining, you need mining hardware. You can mine coins with your CPU or GPU.</p>
            </div>
            <div class="icon">
                <i class="fa fa-microchip"></i>
            </div>
            <a href="https://www.merit.me/" target="_blank" class="small-box-footer">
                Get Started with Merit <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="small-box bg-purple-gradient">
            <div class="inner">
                <h3>Get Wallet Software</h3>
                <p>In order to a mine a specific crypto-currency, you have first download the wallet software and create an address.</p>
            </div>
            <div class="icon">
                <i class="ion ion-md-desktop"></i>
            </div>
            <a href="https://www.merit.me/get-started/#get-merit-desktop" target="_blank" class="small-box-footer">
                Get Wallet <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="small-box bg-aqua-gradient">
            <div class="inner">
                <h3>Get Mining Software</h3>

                <p>Next, you need a mining software that can connect our pools.</p>
            </div>
            <div class="icon">
                <i class="ion ion-md-hammer"></i>
            </div>
            <a href="/help/miningsoftware/" class="small-box-footer">
                Check our list to find a suitable one for you. <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="small-box bg-orange-gradient">
            <div class="inner">
                <h3>Get an Invite</h3>
                <p>Merit is an invite-only network, and you must be invited in order to join.</p>
            </div>
            <div class="icon">
                <i class="ion ion-md-wallet"></i>
            </div>
            <a href="https://www.merit.me/get-started/#get-invite" target="_blank" class="small-box-footer">
                How to get an invite <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>


<div class="row pool-config">
    <div class="col-md-12">
        <div class="box box-solid box-free">
            <div class="box-header">
                <h3 class="box-title">Configure Your Miner</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 40px"></th>
                            <th style="width: 120px">Pool</th>
                            <th style="width: 100px">Location</th>
                            <th>Stratum Address</th>
                            <th class="hidden-xs">Username</th>
                            <th class="hidden-xs">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var node in Model.Stack.Nodes)
                        {
                            <tr>
                                <td class="pool-icon"><img src="/Content/img/coins/icon/@(Model.Pool.Config.Coin.Symbol).png" /></td>
                                <td>@Model.Pool.Config.Coin.Name</td>
                                <td><img src="/Content/img/flags/@(node.Location).png" alt="@node.Location" /></td>
                                <td>stratum+tcp://@node.Address</td>
                                <td class="hidden-xs">Your wallet address</td>
                                <td class="hidden-xs">Anything</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
